@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4 mt-2">Архивы погодных условий в городе Москва</h1>
    <div class="container">
        <div>
            <a href="/watch">Посмотреть отчёты</a>
        </div>
        <div>
            <a href="/upload">Загрузить отчёты</a>
        </div>
    </div>
</div>